﻿@using Perpustakaan.datamodels;
@model MAnggotum

<div class="card">
    <div class="card-body">


        <form asp-action="Create" method="post" id="form_input">

            <input style="width: 400px;" type="text" class="form-control" id="CreatedBy" Name="CreatedBy" oninput="check_valid()" value="1" hidden>
            <div class="mb-2 row mt-4">
                <label for="Fullname" class="col-sm-4 col-form-label">Fullname*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input style="width: 400px;" type="text" class="form-control" id="Fullname" Name="Fullname" oninput="check_valid()" value="@Model.Fullname">
                <span id="tesName" class="text-danger"></span>
            </div>
            <div class="mb-2 row mt-4">
                <label for="Kategori" class="col-sm-4 col-form-label">Kategori*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input style="width: 400px;" type="text" class="form-control" id="Kategori" Name="Kategori" oninput="check_valid()" value="@Model.Kategori">
                <span id="tesKategori" class="text-danger"></span>
            </div>
            <div class="mb-2 row mt-4">
                <label for="Username" class="col-sm-4 col-form-label">Username*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input style="width: 400px;" type="text" class="form-control" id="Username" Name="Username" oninput="check_valid()" value="@Model.Username">
                <span id="tesUsername" class="text-danger"></span>
            </div>
            <div class="mb-2 row mt-4">
                <label for="Password" class="col-sm-4 col-form-label">Password*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input style="width: 400px;" type="text" class="form-control" id="Password" Name="Password" oninput="check_valid()" value="@Model.Password">
                <span id="tesPassword" class="text-danger"></span>
            </div>
            <div class="mb-2 row mt-4">
                <label for="Email" class="col-sm-4 col-form-label">Email*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input style="width: 400px;" type="text" class="form-control" id="Email" Name="Email" oninput="check_valid()" value="@Model.Email">
                <span id="tesEmail" class="text-danger"></span>
            </div>
            <div class="mb-2 row mt-4">
                <label for="Alamat" class="col-sm-4 col-form-label">Alamat*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input style="width: 400px;" type="text" class="form-control" id="Alamat" Name="Alamat" oninput="check_valid()" value="@Model.Alamat">
                <span id="tesAlamat" class="text-danger"></span>
            </div>
            <div class="mb-2 row mt-4">
                <label for="Gender" class="col-sm-4 col-form-label">Gender*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input style="width: 400px;" type="text" class="form-control" id="Gender" Name="Gender" oninput="check_valid()" value="@Model.Gender">
                <span id="tesGender" class="text-danger"></span>
            </div>
            <div class="mb-2 row mt-4">
                <label for="Phone" class="col-sm-4 col-form-label">Phone*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input style="width: 400px;" type="text" class="form-control" id="Phone" Name="Phone" oninput="check_valid()" value="@Model.Phone">
                <span id="tesPhone" class="text-danger"></span>
            </div>
            <div class="mb-4 row col-12">
                <div class="col-6"></div>
                <div class="col-2">
                    <a class="btn btn-light" asp-controller="Anggota" asp-action="Index">Batal</a>

                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>

<script>
    function check_valid() {
        $("#tesName").text("")

    }



    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
            }
        },
        messages: {
            Name: {
                required: "Nama Harus Diisi, Tidak Boleh Kosong",
            }
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()
            var name = $("#Fullname").val()
            var id = 0

            $.ajax({
                url: "/Anggota/CheckNameIsExsist",
                type: "get", //type atau method sama aja.
                data: { name: name, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#tesName").text("Nama Sudah Ada")
                        return true;
                    }
                    else {
                        fungsiSubmit(dataForm)
                    }
                }

            })
        }
    })
    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Anggota/Create",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")
                    Swal.fire({
                        icon: "success",
                        title: "Data Berhasil Ditambah",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        window.location.reload()
                    })

                }
                else {
                    alert("Gagal Menyimpan")
                }

            }
        })
    }

</script>