﻿@using Perpustakaan.datamodels;
@model MAnggotum
<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post" id="form_input">


            <input style="width: 400px;" type="text" class="form-control" id="ModifiedBy" Name="ModifiedBy" oninput="check_valid()" value="1" hidden>
            <input type="hidden" class="form-control" id="Id" Name="Id" value="@Model.Id">

            <div class="row">
                <div class="mb-2 col-6 mt-4">
                    <label for="Name" class="col-sm-4 col-form-label">Fullname*</label>
                </div>
                <span id="validate_Name" class="text-danger"></span>
                <div class="mb-2 col-6 mt-4">
                    <label for="Kategori" class="col-sm-4 col-form-label">Kategori*</label>
                </div>
            </div>
            <div class="row">
                <div class="mb-2 col-5" style="width:410px;">
                    <input type="text" class="form-control" id="Fullname" Name="Fullname" oninput="check_valid()" value="@Model.Fullname">
                    <input type="text" class="form-control" id="NameS" Name="NameS" value="@Model.Fullname" hidden>
                </div>
                <div class="col-1"></div>
                <div class="mb-2 col-5" style="width:410px;">
                    <input type="text" class="form-control" id="Kategori" Name="Kategori" oninput="check_valid()" value="@Model.Kategori">
                </div>
            </div>
            <div class="mb-2 row mt-4">
                <label for="Username" class="col-sm-4 col-form-label">Username*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input type="text" class="form-control" id="Username" Name="Username" oninput="check_valid()" value="@Model.Username">
            </div>
            <div class="mb-2 row mt-4">
                <label for="Password" class="col-sm-4 col-form-label">Password*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input type="text" class="form-control" id="Password" Name="Password" oninput="check_valid()" value="@Model.Password">
            </div>
            <div class="mb-2 row mt-4">
                <label for="Email" class="col-sm-4 col-form-label">Email*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input type="text" class="form-control" id="Email" Name="Email" oninput="check_valid()" value="@Model.Email">
            </div>
            <div class="mb-2 row mt-4">
                <label for="Alamat" class="col-sm-4 col-form-label">Alamat*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input type="text" class="form-control" id="Alamat" Name="Alamat" oninput="check_valid()" value="@Model.Alamat">
            </div>
            <div class="mb-2 row mt-4">
                <label for="Gender" class="col-sm-4 col-form-label">Gender*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input type="text" class="form-control" id="Gender" Name="Gender" oninput="check_valid()" value="@Model.Gender">
            </div>
            <div class="mb-2 row mt-4">
                <label for="Phone" class="col-sm-4 col-form-label">Phone*</label>
            </div>
            <div class="mb-2" style="width:410px;">
                <input type="text" class="form-control" id="Phone" Name="Phone" oninput="check_valid()" value="@Model.Phone">
            </div>
            <div class="mb-4 row col-12">
                <div class="col-6"></div>
                <div class="col-2">
                    <a class="btn btn-light" asp-controller="Anggota" asp-action="Index">Batal</a>

                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">
                        Simpan
                    </button>
                </div>
            </div>

        </form>
    </div>

</div>

<script>
    function check_valid() {
        $("#validate_Name").text("")

    }
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            Name: {
                required: true,
            }
        },
        messages: {
            Name: {
                required: "Nama Harus Diisi, Tidak Boleh Kosong",
            }
        },
        submitHandler: function (form) {

            var dataForm = $(form).serialize()
            var name = $("#Fullname").val()
            var nameS = $("#NameS").val()
            var id = $("#Id").val();

            $.ajax({
                url: "/Anggota/CheckNameIsExsist",
                type: "get",
                data: { name: name, id: id },
                dataType: "json",
                success: function (respon) {
                    if (respon) {
                        $("#validate_Name").text("Nama Sudah Ada")
                        return true;
                    }
                    else {
                        Swal.fire({
                            title: "Apa Kamu Yakin ?",
                            text: "Data " + nameS + " Akan Diubah Menjadi " + name,
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Ya, Ubah Data",
                            cancelButtonText: "Batal"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Swal.fire({
                                //     title: "Deleted!",
                                //     text: "Your file has been deleted.",
                                //     icon: "success"
                                // });
                                fungsiSubmit(dataForm)
                            }
                        });
                    }
                }

            })
        }
    })
    function fungsiSubmit(dataParam) {
        $.ajax({
            url: "/Anggota/Edit",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataRespon
                if (data.success) {
                    $("#my_modal").modal("hide")
                    Swal.fire({
                        icon: "success",
                        title: "Data Berhasil Diubah",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function () {
                        window.location.reload()
                    })
                }
                else {
                    alert("Gagal Mengubah")
                }

            }
        })
    }

</script>
