﻿@using Perpustakaan.datamodels;
@model List<MAnggotum>

<div class="card">
    <div class="card-body">

        <div class="row mb-3">
            <div class="col-12">
                <div class="mt-4 mb-4">

                    <h3 style="color:darkblue" class="align-center">
                        Jenjang Pendidikan
                    </h3>

                </div>
                <div class="d-flex justify-content-between ">
                    <button id="btn_create" class="btn btn-primary mt-10">Tambah</button>
                    <form asp-action="Index1">
                        <div class="input-group w-100">
                            <input type="text" name="searchString" value="@ViewBag.CurrentFilter" class="form-control" placeholder="Search by Nama" />
                            <div class="input-group-prepend">
                                <button type="submit" class="input-group-text" title="search">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <table class="table table-hover mb-3">
            <thead>
                <tr class="table-info">
                    <th class="col-3">
                        <a asp-action="Index1" asp-route-sortOrder="@ViewBag.NameSort"
                           asp-route-currentFilter="@ViewBag.currentFilter">
                            Nama
                        </a>
                    </th>
                    <th class="col-3">Phone</th>
                    <th class="col-4">Alamat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count != 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Fullname</td>
                            <td>@item.Phone</td>
                            <td>@item.Alamat</td>
                            <td>
                                <a style="color:white" class="btn btn-primary btn_edit" dataid="@item.Id">
                                    Ubah
                                </a>
                                <a style="color:white" class="btn btn-danger btn_delete" dataid="@item.Id">
                                    Hapus
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Data not found</td>
                    </tr>
                }


            </tbody>

        </table>
    </div>
</div>
<script>
    $("#btn_create").click(function () {
        $("#modal_body").empty()
        $("#modal_body").load("/Anggota/Create")
        $("#my_modal").modal("show")
        $("#modal_judul").text("Tambah").css("color", "blue")
    })
    $(".btn_delete").click(function () {
        var id = $(this).attr("dataid")
        $("#modal_body").empty()
        $("#modal_body").load("/Anggota/Delete?id=" + id)
        $("#my_modal").modal("show")
        $("#modal_judul").text("Hapus!").css("color", "red")
    })
    $(".btn_edit").click(function () {
        $(".modal-dialog").addClass("modal-lg")
        var id = $(this).attr("dataid")
        $("#modal_body").empty()
        $("#modal_body").load("/Anggota/Edit?id=" + id)
        $("#my_modal").modal("show")
        $("#modal_judul").text("Edit").css("color", "blue")
    })

    $("#PageSize").val(@ViewBag.CurrentPageSize)
    $(".modal-dialog").removeClass("modal-lg")
    $("#PageSize").change(function () {
        $("#form_pagesize").submit()
    })
</script>
